HOST=localhost:8000
DB_USER=alex
DB_NAME=chatddx
DB_HOST=/run/postgresql
DJANGO_APP=./
DJANGO_MODE=dev
DJANGO_LOG_LEVEL=INFO
DJANGO_SETTINGS_MODULE=chatddx.django.settings
SCHEME=http
TRUSTED_ORIGINS=http://localhost:8080
STATE_DIR=./
STATIC_ROOT=static/
STATIC_URL=static/
