{# src/chatddx/django/portal/templates/admin/agents/change_form.html #}
{% extends "admin/change_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/template_field.css' %}">
    <script id="template-data" type="application/json">
        {{ template_data|safe }}
    </script>
    <script id="form-info" type="application/json">
        {{ form_info|safe }}
    </script>
{% endblock %}

{% block field_sets %}
    <div class="unfold-crispy-wrapper">
        {% crispy adminform.form "unfold_crispy" %}
    </div>
{% endblock %}
{% block footer %}
    {{ block.super }}
    <script src="{% static 'js/agent_template_selector.js' %}"></script>
{% endblock %}
